.figuretikz {
  color: red;
  margin: 20px auto;
  padding: 0 20px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 15px;
  justify-content: center;
}

.item_figure {
    color: black;
    min-height: 200px;
    max-height: 200px;
    width: 200px;
    border: 1px solid gray;
    border-color: gray;
}